ul li a {
    color: white;
}

ul li a:hover {
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
}

.main-header {
    background-color: #333;
    color: white;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: unset; 
    width: inherit;
}

.nav-link {
    font-weight: bold;
    padding: 0;
    padding-right: 1rem;
    text-transform: uppercase;
}

.menu-list {
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}

.menu-list li {
    display: inline-block;
}

.menu-list .btn {
    color: white;
}

.left-secondary-header-elements {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.cart-btn {
    color: red;
    padding: 0;
}

.cart-price-box {
    color: lightgray;
    display: grid;
    font-size: 12px;
    grid-template-rows: auto auto;
    text-align: left;
}

.header-elem {
    text-align: center;
}

.header-elem .menu-list {
    text-align: left;
}

.header-elem .menu, .form-inline {
    font-size: 14px;
    margin-top: 15px;
}

.search-input.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
    color: white;
    font-size: 12px;
    outline: none;
    padding: 0;
    width: 190px;
}

.primary-header a,
.primary-header span {
    color: lightgray;
}

.search-btn {
    color: white;
    line-height: 0.2;
    padding: 0;
}

.welcome-text,
.primary-header-actions {
    font-size: 14px;
    text-align: right;
}

.primary-header-actions li {
    padding: 0 5px;
}

.secondary-header {
    margin-top: 10px;
    padding-bottom: 10px;
}

.cars-container {
    margin-top: 20px;
}

.most-wanted-section {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    text-align: center;
}

.product-card {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin-bottom: 80px;
    text-align: center;
}

.price-box {
    display: grid;
    grid-template-rows: auto auto;
}

.price-box span {
    font-size: 18px;
}

.base-price {
    color: lightgray;
    text-decoration: line-through;
}

.promotional-price {
    color: #ff4700;
    font-weight: bold;
}

.installment {
    font-weight: bold;
}

.purchase-btn {
    background: none;
    border: 1px solid green;
    color: green;
    vertical-align: middle;
}

.news-section {
    background-color: lightgray;
    padding-bottom: 56px;
}

.infos-section {
    background-color: #333;
    padding: 20px 0;
}

.payments-section {
    background-color: lightgray;
    padding: 20px 0;
}

.addresses-section {
    color: lightgray;
    font-size: 12px;
}

.powered-by {
    text-align: right;
}

.payment-methods-box {
    display: inline-grid;
    grid-template-columns: 0.25fr 1fr;
}

.payment-info-box {
    display: inline-grid;
    grid-template-columns: 0.45fr 1fr;
}

.cart-box {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.payment-methods-box span,
.payment-info-box span {
    font-size: 14px;
    font-weight: bold;
}

.payment-methods-box div {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80%;
}

.payment-info-box > div {
    display: inline-grid;
    grid-template-columns: 0.45fr 1fr 1.5fr;
}

.payment-info-box div > div {
    display: grid;
    grid-template-rows: auto auto;
}

.infos-section {
    padding: 40px 0;
}

.help-list {
    color: white;
}

.help-list ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

.store-infos-list {
    font-size: 14px;
    list-style: none;
    margin-top: 24px;
    padding: 0;
}

.store-infos-list li {
    display: inline-block;
    margin: 0 1%;
}

.logo-footer-box {
    text-align: center;
}

.contact-infos-list {
    color: white;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-align: right;
}

.news-email-box {
    border-bottom: 2px solid #333
}

.news-email-box input {
    border: none;
    background: none;
    font-size: 14px;
    outline: none;
    width: 90%;
}

.news-email-box i {
    font-size: 20px;
    vertical-align: middle;
}

.news-email-grid {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 0.25fr;
    width: 100%;
}

.btn-send-email {
    background: #333;
    border: #333;
    width: 150px;
}

.most-wanted-row {
    margin-bottom: 30px;
}

.circle-icon {
    background-color: white;
    border: 1px solid white;
    border-radius: 60px;
    cursor: pointer;
    height: 36px;
    margin-right: 16px;
    width: 36px;
}

.circle-icon img {
    height: 24px;
    left: 4px;
    position: relative;
    top: 3px;
    width: 24px;
}

.social-icons-row {
    bottom: 0;
    position: absolute;
}

.new-product-tag,
.free-shiping-tag,
.offer-tag {
    background: #333;
    color: white;
    float: left;
    font-size: 12px;
    padding: 4px 6px;
    position: relative;
}

.new-product-tag i {
    font-size: 16px;
    vertical-align: middle;
}

.free-shiping-tag i {
    font-size: 16px;
    vertical-align: middle;
}

.offer-tag i {
    font-size: 16px;
    vertical-align: middle;
}

.free-shiping-tag {
    background: #1ea0a5;
    float: right;
}

.offer-tag {
    background: #d41a70;
    position: absolute;
    top: 6%;
    right: 5%;
}

.purchase-btn i {
    font-size: 20px;
    vertical-align: middle;
}